{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    <div>
        {{ form_errors(form) }}
    </div>

    {{ form_start(form) }}
        {{ form_row(form.category) }}
        {{ form_row(form.name) }}
        {{ form_row(form.position) }}

{#    {{ form_row(form.filterValues) }}#}
{#    <ul class="items list-unstyled" data-prototype="{{ form_widget(form.filterValues.vars.prototype)|e('html_attr') }}">#}
{#        {% for filterValue in form.filterValues %}#}
{#            <li>#}
{#                {{ form_errors(filterValue) }}#}
{#                        {{ form_row(filterValue.name) }}#}
{#                        {{ form_row(filterValue.position) }}#}
{#                {{ form_widget(filterValue) }}#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <h4>Filter values<hr></h4>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="filterValueItems" data-prototype="{{ include('admin/category_filter/prototype_new.html.twig', { 'form': form.filterValues.vars.prototype })|e('html_attr') }}">
        {% for id, filterValue in form.filterValues %}
            <tr class="itemRow" id="filterValueItem-{{ id }}" rel="{{ id }}">
                <td>
                    {{ form_errors(filterValue) }}
                    {{ form_widget(filterValue.name) }}
                </td>
                <td>{{ form_widget(filterValue.position) }}</td>
                <td><button type="button" class="btn btn-danger deleteRow" rel="filterValueItem-{{ id }}">delete</button>
                    {{ form_rest(filterValue) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot id="tableFooter"></tfoot>
    </table>

    {{ form_rest(form) }}

    <a class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-list"></i> Back to the list</a>
        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>

    {{ form_end(form) }}

    <div class="text-right">
        {{ form_start(delete_form) }}
        <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>
        {{ form_end(delete_form) }}
    </div>

    <script>
        function bindClickDeleteBtn() {
            $('.deleteRow').on('click', function () {
                if (confirm('Are you sure?')) {
                    let rel = $(this).attr('rel');
                    console.log(rel);
                    $('#'+rel).slideUp('slow');
                    $('#'+rel).remove();

                    return false;
                }
            });
        }

        $( document ).ready(function() {
            bindClickDeleteBtn();

            var $collectionHolder;

            // setup an "add a tag" link
            var $addTagButton = $('<td colspan="2"><button type="button" class="btn btn-sm btn-success addRow add_tag_link"><i class="fa fa-plus"></i> add new row</button></td>');
            var $newLink = $('<tr></tr>').append($addTagButton);

            // Get the ul that holds the collection of tags
            $collectionHolder = $('tbody.filterValueItems');
            var $collectionFooter = $('tfoot#tableFooter');

            $collectionFooter.append($newLink);

            // alert($collectionHolder.find(':input').length);
            var lastId = parseInt($('.filterValueItems > tr.itemRow').last().attr('rel')) + 1;

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            // $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $collectionHolder.data('index', lastId);

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLink);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            // var $newFormLi = $('<tr></tr>').append(newForm);
            $('.filterValueItems').append(newForm);

            // $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
