{% extends 'themes/forel/layout.html.twig' %}

{% block title %}Na-Forel.RU / распродажа{% endblock %}

{% block meta_description %}Распродажа рыболовных товаров по привлекательным ценам{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> Распродажа
        </li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Распродажа</h1>
    <div class="row text-center">
        {% for index, row in rows %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h5 class="my-0 font-weight-normal"><a
                                    class="alert-link"
                                    href="{{ path('product_view', {'categorySlug': row.category.slug, 'productSlug': row.slug}) }}">{{ row.vendor.name }} - {{ row.name }}</a></h5>
                    </div>
                    <div class="card-body">
                        <div class="productImg ">
                            {% if row.pic %}
                                <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/pics/' ~ row.pic) }}"><img
                                            src="{{ asset('/uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_160') }}" /></a>
                            {% else %}
                                <img src="{{ asset('/uploads/pics/nopic.png') | imagine_filter('thumb_square_160') }}" />
                            {% endif %}
                        </div>

                        <div class="oldPrice mt-3">{{ row.priceOld }} ₽</div>
                        <h1 class="card-title pricing-card-title product_price">{{ row.price }} ₽</h1>

                        {% if row.isAvailableToOrder %}
                            <a href="{{ path('add_to_cart', {'product_id': row.id}) }}"
                               class="btn btn-lg btn-block btn-primary text-white"><i
                                        class="fa fa-cart-plus"></i> В корзину</a>
                        {% else %}
                            <a href="javascript:;"
                               class="btn btn-lg btn-block btn-secondary text-white"><i
                                        class="fa fa-info-circle"></i> {{ row.statusRus }}</a>
                        {% endif %}


                        <a href="{{ path('product_view', {'categorySlug': row.category.slug, 'productSlug': row.slug}) }}"
                           class="btn btn-lg btn-block btn-success text-white"><i
                                    class="fa fa-search"></i> Просмотр</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}




