{% extends 'themes/forel/layout.html.twig' %}

{% block title %}{{ (parentCategory is not null ? parentCategory.name ~ ' ' : '') ~ category.name }}{% endblock %}

{% block meta_description %}{{ category.metaDescription }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        {% if parentCategory is not null %}
            <li class="breadcrumb-item">
                <i class=""></i> {{ parentCategory.name }}
            </li>
        {% endif %}
        <li class="breadcrumb-item active">
            <i class=""></i> {{ category.name }}
        </li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'themes/forel/common/flashes.html.twig' %}

    <div class="card mb-2 box-shadow">
        <form action="{{ path('category_show', {'slug': category.slug}) }}" method="get">
            <div class="card-body" style="padding-bottom: 0;">
                <div class="row">
                    {% if categoryVendors|length %}
                        <div class="col-4">
                            <b>Производитель</b>
                            <ul class="list-unstyled">
                            {% for vendor in categoryVendors %}
                                <li><input type="checkbox" id="vendor_{{ vendor.id }}"
                                           {{ vendor.id in checkedVendors ? 'checked' : '' }}
                                           name="vendor[]" value="{{ vendor.id }}">
                                    <label for="vendor_{{ vendor.id }}">{{ vendor.name }}</label></li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
{#                    {% if category.filters|length %}#}
{#                        {% for filter in category.filters %}#}
{#                            <div class="col-4">#}
{#                                <b>{{ filter }}</b>#}
{#                                <ul class="list-unstyled">#}
{#                                {% for filterValue in filter.filterValues %}#}
{#                                    <li><input type="checkbox" id="cfilter_{{ filterValue.id }}"#}
{#                                               {{ filterValue.id in cfilters ? 'checked' : '' }}#}
{#                                               name="cfilter[{{ filter.id }}][]" value="{{ filterValue.id }}">#}
{#                                        <label for="cfilter_{{ filterValue.id }}">{{ filterValue }}</label></li>#}
{#                                {% endfor %}#}
{#                                </ul>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
                </div>
            </div>

            <div class="card-body border-top">
                <div class="row">
                    <div class="col-12">
                        <input type="checkbox" name="stock" value="1" checked />показывать только товары на складе
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-success">применить</button>
                <button type="button" class="btn btn-secondary" id="resetFilter">сбросить</button>
            </div>
        </form>
    </div>
{#    <div class="card mb-2 box-shadow">#}
{#        <div class="card-body">#}
{#        Сортировать по:#}
{#            {% set direction = pagination.getDirection() %}#}
{#            {{ knp_pagination_sortable(pagination, 'названию', 'p.name') }}#}
{#            {% if pagination.isSorted('p.name') %}<i class="fa fa-arrow-{{ direction == 'asc' ? 'down' : 'up' }}"></i>{% endif %}#}
{#            |#}
{#            {{ knp_pagination_sortable(pagination, 'цене', 'p.price') }}#}
{#            {% if pagination.isSorted('p.price') %}<i class="fa fa-arrow-{{ direction == 'asc' ? 'down' : 'up' }}"></i>{% endif %}#}
{#        </div>#}
{#    </div>#}
    <div class="row text-center">
        {% for index, row in pagination %}
            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h5 class="my-0 font-weight-normal"><a
                            class="alert-link"
                            href="{{ path('product_view', {'categorySlug': category.slug, 'productSlug': row.slug}) }}">
                                {{ row.vendor.name }} - {{ row.name }}</a></h5>
                    </div>
                    <div class="card-body">
                        {% if row.pic %}
                            <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/pics/' ~ row.pic) }}"><img
                                        src="{{ asset('/uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_160') }}" /></a>
                        {% else %}
                            ---
                        {% endif %}

                        <h1 class="card-title pricing-card-title product_price">{{ row.price }} ₽</h1>

                        <div class="text-center">
                            <span class="badge badge-{{ row.statusAsCssClass }}">{{ row.statusRus }}</span>
                        </div>

                        {% if row.isAvailableToOrder %}
                            <a href="{{ path('add_to_cart', {'product_id': row.id}) }}"
                               class="btn btn-lg btn-block btn-primary text-white"><i
                                        class="fa fa-cart-plus"></i> В корзину</a>
                        {% else %}
                            <a href="javascript:;"
                               class="btn btn-lg btn-block btn-secondary text-white"><i
                                        class="fa fa-info-circle"></i> {{ row.statusRus }}</a>
                        {% endif %}

                        <a href="{{ path('product_view', {'categorySlug': category.slug, 'productSlug': row.slug}) }}"
                           class="btn btn-lg btn-block btn-success text-white"><i
                                    class="fa fa-search"></i> Просмотр</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
        <div class="">
            Количество записей: {{ pagination.getTotalItemCount }}
        </div>
    </div>

{% endblock %}

{% block filter_scripts %}
    <script>
        $( document ).ready(function() {
            $('#resetFilter').on('click', function () {
                document.location = '{{ path('category_show', {'slug': category.slug}) }}';
            })
        })
    </script>
{% endblock %}

{% block filter_form %}
    {% include 'admin/common/filter_form.html.twig' with {'filter_form': filter_form} %}
{% endblock %}
