{% extends 'layout_login.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">
                <h4>Login</h4></div>
            <div class="card-body">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form role="form" action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" aria-describedby="emailHelp"
                               placeholder="Username" id="username" name="_username"
                               value="{{ last_username }}" required autofocus />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="exampleInputPassword1" type="password"
                               placeholder="Password" name="_password" required />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}