
{#    {{ form_start(form, {'action': path('feedback_create'), 'method': 'POST'}) }}#}
{#    <div class="row">#}
{#        <div class="col-md-12 col-sm-12">#}
{#            <div class="form-group">#}
{#                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'ФИО'}}) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-md-6 col-sm-6">#}
{#            <div class="form-group">#}
{#                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Телефон'}}) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-6 col-sm-6">#}
{#            <div class="form-group">#}
{#                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-md-12 col-sm-12">#}
{#            <div class="form-group">#}
{#                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Сообщение'}}) }}#}
{#                {{ form_errors(form.recaptcha) }}#}
{#                {{ form_widget(form.recaptcha) }}#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <button type="submit" class="btn btn-primary">Отправить</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {{ form_end(form) }}#}


