{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'themes/forel/layout.html.twig' %}

{% block title %}Обратная связь / Na-Forel.RU{% endblock %}
{% block meta_description %}Обратная связь{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> новое сообщение
        </li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'themes/forel/common/flashes.html.twig' %}

    <h4>Обратная связь</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <hr />
    <button name="send" type="submit" class="btn btn-success">Отправить</button>
    {{ form_end(form) }}

{% endblock %}
