{% extends 'layout_login.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <h4>Registration</h4>
        </div>

        <div class="card-body">

            {% include 'admin/flashes.html.twig' %}

            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}


                <button class="btn btn-success" type="submit">Register!</button>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
