body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

a.active-red {
    color: #fff;
    background-color: #aa5500;
}

.inAction {
    background-image: url('/img/action-small.png');
    background-repeat: no-repeat;
    /*position: relative;*/
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}
/*.inAction .after {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: none;*/
/*    color: #FFF;*/
/*}*/
/*.inAction:hover .after {*/
/*    display: block;*/
/*    background: rgba(0, 0, 0, .6);*/
/*}*/

.alert-fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
}
.digi-header {
    height: 80px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
    line-height: 120px;
}
#logo_img img {
    height: 120px;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #105b47;
    border-color: #105b47;
}

a {
    color: #105b47;
}

.btn-primary {
    color: #fff;
    background-color: #79269d;
    border-color: #79269d;
}
.btn-primary:hover {
    color: #fff;
    background-color: #9641ba;
    border-color: #9641ba;
}
a:hover {
    color: #105b47;
    text-decoration: underline;
}

div.header-middle a:hover {
    text-decoration: none;
}

/*=======================================
  FOOTER SECTION
==================================================*/
.footer-box {
    background-color:#F5F5F5;
    padding:20px 50px 20px 50px;


}
.small-box {
    font-size:10px;
}

.footer-box a {
    color:#808080;
    text-decoration:none;
}
.footer-box a:hover {
    color:#000;
}
.pad-botom {
    padding-bottom:30px;
}
.footer-box p {
    padding-top:15px;
    padding-bottom:15px;
    line-height:25px;
}
.social-box a{
    color:#333436;
    text-decoration:none;
}

.end-box {
    padding:20px;
    color:#fff;
    background-color:#000;
    font-size:14px;
}
h1.product_price {
    margin-bottom: 0rem;
}
.small {
    font-size: 1rem;
}

.bold {
    font-weight: bold;
}
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .5rem;
    @include border-radius;
    font-size: larger;
}
.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}
