    <!-- /.div -->
    {#<div>#}
        {#<ul class="list-group mb-4">#}
            {#<li class="list-group-item list-group-item-success"><a href="#">New Offer's Coming </a></li>#}
            {#<li class="list-group-item list-group-item-info"><a href="#">New Products Added</a></li>#}
            {#<li class="list-group-item list-group-item-warning"><a href="#">Ending Soon Offers</a></li>#}
            {#<li class="list-group-item list-group-item-danger"><a href="#">Just Ended Offers</a></li>#}
        {#</ul>#}
    {#</div>#}
    <!-- /.div -->

