{% for label, messages in app.flashes %}
    {% set css_class = {
        '': '',
    } %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-fixed" role="alert">
            {{ message }} &nbsp;
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% if 'добавлен в Вашу корзину' in message %}
            <!-- Conversion tracking code: purchases. Step 1: Product added to cart -->
            <script type="text/javascript">
                (function(w, p) {
                    var a, s;
                    (w[p] = w[p] || []).push({
                        counter_id: 520312123,
                        tag: 'fc39888d23927f6a537e99c5d2623849'
                    });
                    a = document.createElement('script'); a.type = 'text/javascript'; a.async = true;
                    a.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'autocontext.begun.ru/analytics.js';
                    s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(a, s);
                })(window, 'begun_analytics_params');
            </script>
        {% endif %}
    {% endfor %}
{% endfor %}