

    <div class="row">
        <div class="col-md-3">
{#            <strong>Задайте Ваш вопрос </strong>#}
{#            <hr>#}
{#            {{ render(controller('App\\Controller\\Frontend\\FeedbackController::shortFeedbackForm')) }}#}
        </div>

        <div class="col-md-5">
            <a href="https://vk.com/naforel" target="_blank"><img width="200" src="{{ asset('img/vk-group.jpg') }}" alt="Мы ВКонтакте"></a>
            {#<strong>Мы в социальных сетях</strong>#}
            {#<hr>#}
            {#<a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>#}
            {#<a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>#}
            {#<a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>#}
            {#<a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>#}
            {#<a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>#}
            {#<p>#}
            {#Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.#}
            {#</p>#}
        </div>

        <div class="col-md-4 social-box">
            <strong>Наши контакты</strong>
            <hr>
            <p>
                Москва, ул.Сущёвский Вал 5, стр.20, этаж 3<br>

                <table>
{#                <tr>#}
{#                    <td>Тел.</td>#}
{#                    <td>+7 495 979 4424</td>#}
{#                </tr>#}
                <tr>
                    <td>Моб.тел.</td>
                    <td>+7 980 541-70-65</td>
                </tr>
                <tr>
                    <td>EMail:</td>
                    <td>info@na-forel.ru</td>
                </tr>
                <tr valign="top" style="padding-top: 10px;">
                    <td>Время работы:</td>
                    <td><pre>пн-пт: 12-20<br />сб:    12-18</pre>
                    </td>
                </tr>
            </table>
                {#<i class="fa fa-phone-square"></i> +7 495 979 4424<br>#}
                {#<i class="fa fa-phone-square"></i> +7 999 917 1484<br>#}
                {#<i class="fa fa-whatsapp"></i> +7 999 917 1484<br>#}
                {#<i class="fa fa-skype"></i> Na-Forel.Ru<br>#}
                {#<i class="fa fa-icq blue"></i> 741709627<br>#}
                {#<br>#}
                {#Email: sales@na-forel.ru<br>#}
            </p>

            {{ "now"|date('Y') }} na-forel.ru | All Right Reserved
        </div>
    </div>
    <hr>
