<div class="header-middle ptb-15">
    <div class="container">
        <div class="row align-items-center no-gutters">
            <div class="col-lg-4 col-md-12">
                <div class="logo mb-all-30">
                    <a href="/"><img src="{{ asset('img/forel-logo2.jpg') }}" alt="logo-image"></a>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="cart-box mt-all-30">
                    <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">

                        <li><a href="https://yandex.ru/maps/-/CCUjvUg9xD" target="_blank">{# data-toggle="modal" data-target="#mapModal">#}
                                <i class="lnr lnr-map-marker"></i>
                                <span class="my-cart">
                                    <pre>Москва, Сущевский</pre>
                                    <pre>Вал 5, стр.20, 3 этаж</pre>
                                </span>
                            </a>
                        </li>


                        <li>
                            {{ render(controller('App\\Controller\\Frontend\\CartController::newCartDropDown')) }}
                        </li>

                        <li><a href="#"><i class="lnr lnr-phone-handset"></i>
                                <span class="my-cart"><pre>+7 980 541-70-65</pre></span></a>
                        </li>

                        <li><a href="#"><i class="lnr lnr-clock"></i>
                                <span class="my-cart">
                                    <pre>пн-пт 12-20</pre>
                                    <pre>сб: 12-18</pre>
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- Cart Box End Here -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>

<div class="modal" tabindex="-1" id="mapModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Адрес</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="mapContentDiv">
            </div>

        </div>
    </div>
</div>

