{% extends 'themes/forel/layout.html.twig' %}

{% block title %}Поиск / Na-Forel.RU{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class=""></i> Поиск
        </li>
    </ol>
{% endblock %}


{% block body %}
<h3>Результаты поиска: <em>"{{ search }}"</em></h3>
    <a class="btn btn-sm btn-success" href="{{ path('front_search', {q: search, stock: true}) }}">
        <b><i class="fa fa-check"></i> Показать товары только в наличии</b></a>
<table class="table table-striped">

    {% for product in products %}
        <tr>
            <td>
                {% if product.pic %}
                    <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/pics/' ~ product.pic) }}"><img
                                src="{{ asset('/uploads/pics/' ~ product.pic) | imagine_filter('thumb_square_100') }}" /></a>
                {% else %}
                    <img src="{{ asset('/uploads/pics/nopic.png') | imagine_filter('thumb_square_100') }}" />
                {% endif %}

            </td>
            <td>
                <h3><a href="{{ path('product_view', {categorySlug: product.category.slug, productSlug: product.slug }) }}">{{ product.name }}</a></h3>
                <p>{{ product.fullName }}</p>
                <span class="badge badge-{{ product.statusAsCssClass }}">{{ product.statusRus }}</span>

            </td>
            <td>
                <h3 align="center">{{ product.price }} ₽</h3>
                {% if product.isAvailableToOrder %}
                    <a href="{{ path('add_to_cart', {'product_id': product.id}) }}"
                       class="btn btn-lg btn-block btn-primary text-white"><i
                                class="fa fa-cart-plus"></i> В корзину</a>
                {% else %}
                    <a href="javascript:;"
                       class="btn btn-lg btn-block btn-secondary text-white"><i
                                class="fa fa-info-circle"></i> {{ product.statusRus }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

</table>
{% endblock %}
