{% include 'themes/forel/common/flashes.html.twig' %}

<div class="row text-center">
    {% for index, row in rows %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal"><a
                        class="alert-link"
                        href="{{ path('product_view', {'categorySlug': row.category.slug, 'productSlug': row.slug}) }}">{{ row.vendor.name }} - {{ row.name }}</a></h5>
                </div>
                <div class="card-body">
                    <div class="productImg ">
                    {% if row.pic %}
                        <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/pics/' ~ row.pic) }}"><img
                                    src="{{ asset('/uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_160') }}" /></a>
                    {% else %}
                        <img src="{{ asset('/uploads/pics/nopic.png') | imagine_filter('thumb_square_160') }}" />
                    {% endif %}
                    </div>

                    <div class="text-center">
                        <span class="badge badge-{{ row.statusAsCssClass }}"> {{ row.statusRus }} </span>
                    </div>

                    <h1 class="card-title pricing-card-title product_price">{{ row.price }} ₽</h1>

                    {% if row.isAvailableToOrder %}
                        <a href="{{ path('add_to_cart', {'product_id': row.id}) }}"
                           class="btn btn-lg btn-block btn-primary text-white"><i
                                    class="fa fa-cart-plus"></i> В корзину</a>
                    {% else %}
                        <a href="javascript:;"
                           class="btn btn-lg btn-block btn-secondary text-white"><i
                                    class="fa fa-info-circle"></i> {{ row.statusRus }}</a>
                    {% endif %}


                    <a href="{{ path('product_view', {'categorySlug': row.category.slug, 'productSlug': row.slug}) }}"
                       class="btn btn-lg btn-block btn-success text-white"><i
                                class="fa fa-search"></i> Просмотр</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{#<nav aria-label="Page navigation example">#}
    {#<ul class="pagination">#}
        {#<li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
        {#<li class="page-item active"><a class="page-link" href="#">1</a></li>#}
        {#<li class="page-item"><a class="page-link" href="#">2</a></li>#}
        {#<li class="page-item"><a class="page-link" href="#">3</a></li>#}
        {#<li class="page-item"><a class="page-link" href="#">Next</a></li>#}
    {#</ul>#}
{#</nav>#}

{#<div class="btn-group alg-right-pad">#}
    {#<button type="button" class="btn btn-default"><strong>1235  </strong>items</button>#}
    {#<div class="btn-group">#}
        {#<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">#}
            {#Sort Products &nbsp;#}
            {#<span class="caret"></span>#}
        {#</button>#}
        {#<ul class="dropdown-menu">#}
            {#<li><a href="#">By Price Low</a></li>#}
            {#<li class="divider"></li>#}
            {#<li><a href="#">By Price High</a></li>#}
            {#<li class="divider"></li>#}
            {#<li><a href="#">By Popularity</a></li>#}
            {#<li class="divider"></li>#}
            {#<li><a href="#">By Reviews</a></li>#}
        {#</ul>#}
    {#</div>#}
{#</div>#}
