{% extends 'themes/forel/layout.html.twig' %}

{% block title %}{{ product.category.singleName }} {{ product.vendor.name }} {{ product.name }} купить в Москве или с доставкой по России{% endblock %}

{% block meta_description %}{{ product.category.metaDescription }} {{ product.vendor }} - {{ product.name }}(код: {{ product.id }}) по цене - {{ product.price }} руб. купить сомовывозом в Москве или с доставкой по всей России{% endblock %}

{% block canonical %}
{#    todo: link to parent #}
{#<link rel="canonical" href="{{ path('product_view', {categorySlug: product.category.slug, productSlug: product.slug }) }}" />#}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li class="breadcrumb-item">
            <i class=""></i> {{ parentCategory.name }}
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('category_show', {'slug': category.slug}) }}"><i class=""></i> {{ category.name }}</a>
        </li>
        <li class="breadcrumb-item active">
            {{ product.name }}
        </li>
    </ol>

    <div itemscope itemtype="https://schema.org/Product">

        <h1 class="page-header">
            <span itemprop="brand">{{ product.vendor }}</span>
            <span itemprop="name">{{ product.fullName }}</span>
        </h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <a data-fancybox="gallery" target="_blank"
                            href="{{ '/uploads/pics/' ~ product.pic }}">
                            <div style="width: 210px; height: 210px;
                                background-image: url('{{ asset('/uploads/pics/' ~ product.pic) | imagine_filter('thumb_square_210') }}')">
                                {% if product.inAction %}
                                    <img src="/img/sale.png" width="75" style="margin-top: -20px; margin-left: -20px;" />
                                {% endif %}

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <table class="table table-bordered table-striped table-sm">
                    <tr>
                        <td><h4>Цена:</h4></td>
                        <td>
                            <div class="row">
                                <div class="col-6" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                    {% if product.inAction %}
                                    <div class="oldPrice mt-1">{{ product.priceOld }} ₽</div>
                                    {% endif %}
                                    <h4><span itemprop="price">{{ product.price }}</span>
                                        <span itemprop="priceCurrency">RUB</span>
                                    </h4>
                                    {% if product.isAvailableToOrder %}
                                        <link itemprop="availability" href="https://schema.org/InStock" />
                                    {% else %}
                                        <link itemprop="availability" href="https://schema.org/OutOfStock" />
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    {% if product.isAvailableToOrder %}
                                        <a href="{{ path('buy_in_one_click', {'id': product.id}) }}"
                                            class="btn btn-success"><i
                                            class="fa fa-cart-plus"></i> купить</a>
                                    {% else %}
                                        <span class="btn btn-secondary"><i
                                            class="fa fa-cart-plus"></i> купить</span>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Наличие:</td>
                        <td><span class="badge badge-{{ product.statusAsCssClass }}">{{ product.statusRus }}</span></td>
                    </tr>
                    <tr>
                        <td class="bold">Производитель:</td>
                        <td>{{ product.vendor.name }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Самовывоз в Москве:</td>
                        <td>м.Савёловская,<br> Сущевский Вал д.5 стр.20, 3 этаж
                            <a class="fancybox" href="#divMap">(см. на карте)</a>
                            <div id="divMap" style="width:500px; height:300px; display: none;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Доставка по Москве:</td>
                        <td>300р. курьером</td>
                    </tr>
                    <tr>
                        <td class="bold">Доставка в регионы:</td>
                        <td>по тарифам компании СДЭК</td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Описание</h3>
                <span itemprop="description">
                    {{ product.description | raw }}
                </span>
            </div>
        </div>
    </div>
    <hr />

    {% if similarProducts|length > 0 %}
    <div class="row pt-3">
        <div class="col-12">
            <h4>Аналогичные товары</h4>
        </div>
    </div>
    <div class="row pt-3">
        {% for row in similarProducts %}
            <div class="col-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <a class="alert-link"
                           href="{{ path('product_view', {'categorySlug': row.category.slug, 'productSlug': row.slug}) }}">{{ row.vendor.name }} - {{ row.name }}</a>
                    </div>
                    <div class="card-body">
                        <img src="{{ asset('/uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_160') }}" />
                        <h3 class="card-title pricing-card-title product_price">{{ row.price }} ₽</h3>
                        <a href="{{ path('product_view', {'categorySlug': row.category.slug, 'productSlug': row.slug}) }}"
                           class="btn btn-block btn-success text-white"><i
                                    class="fa fa-search"></i> Просмотр</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row pt-3">
        <div class="col-8">
            <a class="btn btn-secondary" href="{{ path('category_show', {'slug': category.slug}) }}"><i
                    class="fa fa-arrow-circle-left"></i> вернуться к списку {{ category.parent.name|lower }} {{ category.name|lower }}</a>

        </div>
    </div>

    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>

    <script type="text/javascript">
        ymaps.ready(function  () {

            var myMap;

            $('.fancybox').fancybox({height:400, afterShow : function() {

                    myMap = new ymaps.Map('divMap', {
                        center: [55.793930, 37.593345],
                        zoom: 15,
                        behaviors: ["scrollZoom","drag"]
                    });

                    var myPlacemark = new ymaps.Placemark([55.796605, 37.593678], {
                        // Свойства
                        iconContent: 'Na-Forel.RU',
                        balloonContentHeader: '<strong>NaForel.RU</strong>',
                        balloonContentBody: 'Сущевский Вал д.5 стр.20',
                        balloonContentFooter: 'Сайт: <a rel="nofollow" href="http://www.na-forel.ru/" target="_blank">http://www.na-forel.ru/</a>'
                    }, {
                        // Опции
                        preset: 'twirl#redStretchyIcon',
                        balloonMaxWidth: 250
                    });

                    // Добавляем метку на карту
                    myMap.geoObjects.add(myPlacemark);

                }, afterClose:function (){
                    myMap.destroy();
                    myMap = null;
                }});
        });
    </script>

{% endblock %}
{% block extrascripts %}
{% endblock %}
