{#{% extends 'themes/ultraspin/layout.html.twig' %}#}
{#{% block search %}#}
<div id="search" class="input-group">
  <input type="text" name="search" value="" placeholder="поиск" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>
{#{% endblock %}#}