
<div class="container">

    <nav id="menu" class="navbar navbar-expand-lg navbar-dark navbar-collapse navbar-ex bg-dark">
        <a class="navbar-brand" href="#">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% for tree_item in tree_arr %}
                    {% if tree_item.children is defined %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ tree_item.href }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ tree_item.name }}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for tree_item2 in tree_item.children %}
                                    <a class="dropdown-item" href="{{ tree_item2.href }}">{{ tree_item2.name }}</a>
                                    {% if not loop.last %}
                                        <div class="dropdown-divider"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ tree_item.href }}">{{ tree_item.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="#">Доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>

            </ul>
            <span class="navbar-text">
              некий текст
            </span>
        </div>
    </nav>
</div>

