{% if banner %}
    {% if banner.type == 'pic' %}
        <div style="border: 2px solid black;">
            <a href="{{ path('banner_click', {'id': banner.id}) }}"><img
                        src="{{ asset('/uploads/pics/' ~ banner.pic) }}"/></a>
        </div>
    {% endif %}
{% endif %}

