{% extends 'themes/ultraspin/layout.html.twig' %}

{% block promo %}
    {{ render(controller('App\\Controller\\Frontend\\BannerController::showHomepageBanner')) }}
    {#<div class="jumbotron p-md-5 text-white rounded bg-dark">#}
        {#<div class="col-md-9 px-0">#}
            {#<h1 class="display-4 font-italic">Спецпредложение!!!</h1>#}
            {#<p class="lead my-3">HDD Seagate 600Gb.</p>#}
            {#<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>#}
        {#</div>#}
        {#<div class="col-md-3 px-0">#}
            {#<img src="{{ asset('/uploads/pics/1cbab9e5dfbb539f1e16fc8a68fadfc2.jpeg') | imagine_filter('thumb_square_100') }}" />#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> Products
        </li>
    </ol>
{% endblock %}

{% block body %}
    {{ render(controller('App\\Controller\\Frontend\\ProductController::showOnTop')) }}
{% endblock %}
