<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}UltraSpin.ru{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('swiper/js/swiper.jquery.min.js') }}"></script>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ultraspin.css') }}">
        <link rel="stylesheet" href="{{ asset('css/notify-flat.css') }}">
        <link rel="stylesheet" href="{{ asset('swiper/css/swiper.min.css') }}">
        <link rel="stylesheet" href="{{ asset('swiper/css/opencart.css') }}">
    {% endblock %}
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
<nav id="top">
<div class="container">
    <div id="top-links" class="nav pull-right">
        <ul class="list-inline">
            <li><a href="#"><i class="fa fa-phone"></i></a>
                 <span class="hidden-xs hidden-sm hidden-md">+7 495 111 22 33</span></li>
        </ul>
    </div>
</div>
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="logo">
                    <a id="logo_img" href="{{ path('homepage') }}"><img
                                style="max-width: 250px;"
                                src="{{ asset('img/ultra-spin-light-blue.png') }}" /></a>
                </div>
            </div>
            <div class="col-sm-5">{% include 'common/search.twig' %}</div>
            <div class="col-sm-3"><button type="button" data-toggle="dropdown"
                                          data-loading-text="Загрузка..."
                                          class="btn btn-inverse btn-block btn-lg dropdown-toggle"
                                          aria-expanded="false"><i class="fa fa-shopping-cart"></i>
                    <span id="cart-total">Корзина 0шт. (0р.)</span></button>
                Вассап <br />
                Аська <br />
            </div>
        </div>
    </div>
</header>

{{ render(controller('App\\Controller\\Frontend\\CategoryController::categoriesTreeMenu')) }}

<div class="container">
    <ul class="breadcrumb">
        <li><a href="http://opencart.local/"><i class="fa fa-home"></i></a></li>
        <li><a href="http://opencart.local/spining-reels">Спецпредложения</a></li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="swiper-viewport">
                <div id="slideshow0" class="swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper" style="transform: translate3d(-2324px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide text-center swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" style="width: 1132px; margin-right: 30px;"><img src="http://opencart.local/image/cache/catalog/demo/banners/MacBookAir-1140x380.jpg" alt="MacBookAir" class="img-responsive"></div>       <div class="swiper-slide text-center swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="0" style="width: 1132px; margin-right: 30px;"><a href="index.php?route=product/product&amp;path=57&amp;product_id=49"><img src="http://opencart.local/image/cache/catalog/demo/banners/iPhone6-1140x380.jpg" alt="iPhone 6" class="img-responsive"></a></div>
                        <div class="swiper-slide text-center swiper-slide-active" data-swiper-slide-index="1" style="width: 1132px; margin-right: 30px;"><img src="http://opencart.local/image/cache/catalog/demo/banners/MacBookAir-1140x380.jpg" alt="MacBookAir" class="img-responsive"></div>
                        <div class="swiper-slide text-center swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="width: 1132px; margin-right: 30px;"><a href="index.php?route=product/product&amp;path=57&amp;product_id=49"><img src="http://opencart.local/image/cache/catalog/demo/banners/iPhone6-1140x380.jpg" alt="iPhone 6" class="img-responsive"></a></div></div>
                </div>
                <div class="swiper-pagination slideshow0 swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
                <div class="swiper-pager">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript"><!--
            $('#slideshow0').swiper({
                mode: 'horizontal',
                slidesPerView: 1,
                pagination: '.slideshow0',
                paginationClickable: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                spaceBetween: 30,
                autoplay: 2500,
                autoplayDisableOnInteraction: true,
                loop: true
            });
        --></script>
        <div class="swiper-viewport">
            <div id="carousel0" class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper" style="transform: translate3d(-2716.8px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide text-center swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="6" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/harley-130x100.png" alt="Harley Davidson" class="img-responsive"></div><div class="swiper-slide text-center swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="7" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/dell-130x100.png" alt="Dell" class="img-responsive"></div><div class="swiper-slide text-center swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="8" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/disney-130x100.png" alt="Disney" class="img-responsive"></div><div class="swiper-slide text-center swiper-slide-duplicate" data-swiper-slide-index="9" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/starbucks-130x100.png" alt="Starbucks" class="img-responsive"></div><div class="swiper-slide text-center swiper-slide-duplicate" data-swiper-slide-index="10" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/nintendo-130x100.png" alt="Nintendo" class="img-responsive"></div>      <div class="swiper-slide text-center" data-swiper-slide-index="0" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/nfl-130x100.png" alt="NFL" class="img-responsive"></div>
                    <div class="swiper-slide text-center" data-swiper-slide-index="1" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/redbull-130x100.png" alt="RedBull" class="img-responsive"></div>
                    <div class="swiper-slide text-center" data-swiper-slide-index="2" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/sony-130x100.png" alt="Sony" class="img-responsive"></div>
                    <div class="swiper-slide text-center" data-swiper-slide-index="3" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/cocacola-130x100.png" alt="Coca Cola" class="img-responsive"></div>
                    <div class="swiper-slide text-center" data-swiper-slide-index="4" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/burgerking-130x100.png" alt="Burger King" class="img-responsive"></div>
                    <div class="swiper-slide text-center" data-swiper-slide-index="5" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/canon-130x100.png" alt="Canon" class="img-responsive"></div>
                    <div class="swiper-slide text-center swiper-slide-prev" data-swiper-slide-index="6" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/harley-130x100.png" alt="Harley Davidson" class="img-responsive"></div>
                    <div class="swiper-slide text-center swiper-slide-active" data-swiper-slide-index="7" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/dell-130x100.png" alt="Dell" class="img-responsive"></div>
                    <div class="swiper-slide text-center swiper-slide-next" data-swiper-slide-index="8" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/disney-130x100.png" alt="Disney" class="img-responsive"></div>
                    <div class="swiper-slide text-center" data-swiper-slide-index="9" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/starbucks-130x100.png" alt="Starbucks" class="img-responsive"></div>
                    <div class="swiper-slide text-center" data-swiper-slide-index="10" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/nintendo-130x100.png" alt="Nintendo" class="img-responsive"></div>
                    <div class="swiper-slide text-center swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/nfl-130x100.png" alt="NFL" class="img-responsive"></div><div class="swiper-slide text-center swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/redbull-130x100.png" alt="RedBull" class="img-responsive"></div><div class="swiper-slide text-center swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/sony-130x100.png" alt="Sony" class="img-responsive"></div><div class="swiper-slide text-center swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/cocacola-130x100.png" alt="Coca Cola" class="img-responsive"></div><div class="swiper-slide text-center swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 226.4px;"><img src="http://opencart.local/image/cache/catalog/demo/manufacturer/burgerking-130x100.png" alt="Burger King" class="img-responsive"></div></div>
            </div>
            <div class="swiper-pagination carousel0 swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
            <div class="swiper-pager">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <script type="text/javascript"><!--
            $('#carousel0').swiper({
                mode: 'horizontal',
                slidesPerView: 5,
                pagination: '.carousel0',
                paginationClickable: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                autoplay: 2500,
                loop: true
            });
            --></script>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for i in [1,2,3] %}
        <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="product-thumb">
                <div class="image"><a href="http://opencart.local/leski-shnury/leski-monofilnye/leska-captain-0-18-100m"><img src="http://opencart.local/image/cache/catalog/0,16_SAPTAIN-500x500-228x228.jpg" alt="Леска Captain 0.18 100m" title="Леска Captain 0.18 100m" class="img-responsive"></a></div>
                <div>
                    <div class="caption">
                        <h3 class="text-center"><a href="http://opencart.local/leski-shnury/leski-monofilnye/leska-captain-0-18-100m">Леска Captain 0.18 100m</a></h3>
                        <h2 class="text-center">
                            100р.
                        </h2>
                        <div class="text-center" style="text-decoration: line-through;">
                            150р.
                        </div>
                    </div>
                    <div class="button-group">
                        <button type="button" onclick="cart.add('53', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Купить</span></button>
                        <button type="button" data-toggle="tooltip" title="" onclick="wishlist.add('53');" data-original-title="В закладки"><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="" onclick="compare.add('53');" data-original-title="В сравнение"><i class="fa fa-exchange"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% block javascripts %}
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block map %}
{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block filter_scripts %}
{% endblock %}