{% extends 'themes/forel/layout.html.twig' %}

{% block title %}404 error, page not found{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
    </ol>
{% endblock %}

{% block body %}

    <h4>{{ code }} ошибка</h4>

    <p>
        {{ message }}
    </p>

    попробуйте начать работу с <a href="{{ path('homepage') }}"> главной страницы</a>

{% endblock %}
