{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
        </div>
        <div class="col-6">
            {{ form_row(form.isActive) }}
        </div>
    </div>

    {{ form_row(form.description) }}

    <div class="form-group row">
        {{ form_label(form.picFile) }}
        <div class="col-sm-10">
            {{ form_widget(form.picFile) }}
            {% if row.pic %}
                <a data-fancybox="gallery" target="_blank" href="{{ asset('uploads/pics/' ~ row.pic) }}"><img
                            src="{{ asset('uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_50') }}" /></a>
            {% endif %}

{#                {{ form_widget(form.images) }}#}

{#                <h3>Images</h3>#}
{#                <ul class="tags" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">#}
{#                    {% for image in form.images %}#}
{#                        <li>{{ form_row(image.pic) }}</li>#}
{#                        <li>{{ form_row(image.position) }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#                {{ form_widget(form.images.vars.prototype.pic)|e }}#}
{#                {{ form_widget(form.images.vars.prototype.position)|e }}#}

        </div>
    </div>

    <h3>Set items</h3>
    <div class="row">
        <div class="col-12">
            <div class="productSetItems" data-prototype="{{ include('admin/prototype.html.twig', { 'form': form.ProductSetItems.vars.prototype })|e('html_attr') }}">
                {% for id, item in form.ProductSetItems %}
                    <div class="row form-group" id="productSetRow-{{ id }}">
                        <div class="col-6">{{ form_widget(item.product,
                                {
                                    'attr': {'class': 'productSelect', 'rel': id}
                                }
                            ) }}</div>
                        <div class="col-2">
                            <span class="badge badge-info" id="price-{{ id }}"></span>
                            <span class="badge badge-dark" id="priceIn-{{ id }}"></span>
                        </div>
                        <div class="col-2">{{ form_widget(item.position) }}</div>
                        <div class="col-2"><button type="button" class="btn btn-danger deleteRow" rel="productSetRow-{{ id }}">delete</button></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            Total:
        </div>
        <div class="col-2">
            <span class="badge badge-info" id="priceTotal"></span>
            <span class="badge badge-dark" id="priceInTotal"></span>
        </div>

    </div>

    <hr />

{#        {{ form_rest(form) }}#}
    <a class="btn btn-secondary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-list"></i> Back to the list</a>
    <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>
    {{ form_end(form) }}

    <div class="text-right">
        {{ form_start(delete_form) }}
        <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>
        {{ form_end(delete_form) }}
    </div>

    <script>
        function bindClickDeleteBtn() {
            $('.deleteRow').on('click', function () {
                if (confirm('Are you sure?')) {
                    let rel = $(this).attr('rel');
                    console.log(rel);
                    $('#'+rel).slideUp('slow');
                    $('#'+rel).remove();

                    return false;
                }
            });
        }

        $( document ).ready(function() {
            bindClickDeleteBtn();

            let priceTotal = 0;
            let priceInTotal = 0;
            $('.productSelect').each(function () {
                let id = $(this).val();
                let rel = $(this).attr('rel');
                let url = '{{ path('ajax_product_get_price') }}';
                let data = {
                    'id': id,
                };

                $.ajax({
                    url: url,
                    data: data,
                    dataType: 'json'
                }).done(function(data) {
                    priceTotal = priceTotal + data.price;
                    $('#priceTotal').html(priceTotal);
                    console.log('priceTotal ' + priceTotal);
                    priceInTotal += data.priceIn;
                    $('#priceInTotal').html(priceInTotal);
                    console.log('priceInTotal ' + priceInTotal);

                    $('#price-' + rel).html(data.price);
                    $('#priceIn-' + rel).html(data.priceIn);
                });
            });
            console.log('priceInTotal ' + priceInTotal);

            $('#product_slug').on('focus', function () {
                let val = $(this).val();
                let vendor_id = $('#product_vendor').val();
                let product_name = $('#product_name').val();

                if (val !== '-') {
                    return;
                }

                let url = '{{ path('ajax_product_generate_slug') }}';
                let data = {
                    'product_name': product_name,
                    'vendor_id': vendor_id
                };

                console.log(data);

                status_id = $(this).attr('id');
                $.ajax({
                    url: url,
                    data: data,
                    dataType: 'json'
                }).done(function(data) {
                    console.log(data.slug);
                    $('#product_slug').val(data.slug);
                });

            });

            var $collectionHolder;

            // setup an "add a tag" link
            var $addTagButton = $('<button type="button" class="btn btn-success addRow add_tag_link">Add new row</button>');
            var $newLink = $('<div></div>').append($addTagButton);

            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.productSetItems');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLink);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLink);
            });

            $('.filterToggler').on('click', function() {
                let product_id = {{ row.id }};
                let filter_id = $(this).attr('value');
                let value = $(this).is(':checked') ? 1 : 0;
                let url = '{{ path('ajax_product_filter_value') }}';
                let data = {
                    'product_id': product_id,
                    'filter_id': filter_id,
                    'value': value
                };

                console.log(data);

                status_id = $(this).attr('id');
                $.ajax({
                    url: url,
                    data: data
                }).done(function(html) {
                    console.log(html);
                    // console.log($(status_id);
                    // $('#'+status_id).html(html);
                });
            })
        });

        function addTagForm($collectionHolder, $newLink) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);
            // var $newFormLi = $('').append(newForm);
            $newLink.before($newFormLi);
            bindClickDeleteBtn();
        }
    </script>
{% endblock %}
