
{#{{ dump(options) }}#}
<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>
    {{ title }}
    {% if options.class == 'asc' %}<i class="fa fa-sort-asc" aria-hidden="true"></i>{% endif %}
    {% if options.class == 'desc' %}<i class="fa fa-sort-desc" aria-hidden="true"></i>{% endif %}
</a>
