<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS-->
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
    {% endblock %}
</head>

<body class="bg-dark">

{% block body %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{#<!-- Bootstrap core JavaScript-->#}
{#<script src="vendor/jquery/jquery.min.js"></script>#}
{#<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
{#<!-- Core plugin JavaScript-->#}
{#<script src="vendor/jquery-easing/jquery.easing.min.js"></script>#}
</body>

</html>
