<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="yandex" content="index, follow" />
    <title>{% block title %}Na-Forel.RU{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    {% block canonical %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/linearicons.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/jquery.fancybox.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/meanmenu.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/nivo-slider.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/default.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/ali-style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('css/notify-flat.css') }}">
        <link rel="stylesheet" href="{{ asset('css/forel-tuning.css') }}">
        <style>
            .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
                color: #fff;
                /*background-color: #79269d;*/
                background-color: orangered;
            }
            div.oldPrice {
                font-size: x-large;
                text-decoration: line-through;
            }
            .sale {
                background-image: url('/img/sale.png');
                background-repeat: no-repeat;
                /*position: relative;*/
                width: 150px;
                height: 150px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1000;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>

<div class="wrapper">
    <header>
        {% include('themes/forel/common/new-top-menu.html.twig') %}
    </header>
</div>

<div class="container">
{#    <div class="row flex-nowrap justify-content-between align-items-center">#}
{#        <div class="col-4 ">#}
{#            <a id="logo_img" href="{{ path('homepage') }}"><img src="{{ asset('img/forel-logo2.jpg') }}" /></a>#}
{#        </div>#}
{#        <div class="col-4 text-center">#}
{#        </div>#}
{#        <div class="col-4 text-right pt-2 pr-5">#}
{#            <a class="" href="tel:++79805417065"><i class="fa fa-phone"></i> +7 980 541-70-65</a>#}
{#            <pre>пн-сб: 12-19<br /></pre><!-- сб:    12-18 -->#}
{#            <div>#}
{#                {{ render(controller('App\\Controller\\Frontend\\CartController::showCartDropDown')) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">
        {% include('themes/forel/common/top_menu.html.twig') %}
    </nav>

    <div class="row">
        <aside class="col-md-3">
            {{ render(controller('App\\Controller\\Frontend\\CategoryController::categoriesTreeMenu')) }}
        </aside>

        <main class="col-md-9">
            {% block promo %}
            {% endblock %}

            {% block breadcrumbs %}
            {% endblock %}

            {% block body %}
            {% endblock %}
        </main>
    </div>

</div>

<div class="col-md-12 footer-box" style="margin-top: 20px">
    {% include('themes/forel/common/footer.html.twig') %}
</div>


{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script>
        jQuery(document).ready(function($) {
            // $('#mapModal').on('show.bs.modal', function (event) {
            //     let button = $(event.relatedTarget); // Button that triggered the modal
            //     let url = button.attr('href');
            //
            //     // $.ajaxSetup({
            //     //     headers:{
            //     //         'Access-Control-Allow-Origin': '*',
            //     //         'Access-Control-Allow-Headers': 'Origin,Content-Type,Accept,X-Requested-With'
            //     //     }
            //     // });
            //
            //     $.ajax({
            //         url: url,
            //         cache: false,
            //         crossDomain: true,
            //         type: "GET",
            //         success: function(html) {
            //             $('#mapContentDiv').html(html);
            //         }
            //     });
            // });
        });

    </script>
{% endblock %}

{% block map %}
{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block filter_scripts %}
{% endblock %}

{% include('themes/forel/counters.html.twig') %}

</body>
</html>

