<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <title>{% block title %}Na-Forel.RU{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/forel-tuning.css') }}">
        <link rel="stylesheet" href="{{ asset('css/notify-flat.css') }}">
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
</head>
<body>



{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block map %}
{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block filter_scripts %}
{% endblock %}

</body>
</html>

