{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.category) }}
            {{ form_row(form.vendor) }}
            {{ form_row(form.productGroup) }}
            {{ form_row(form.vendorCode) }}
            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="category_filter_barCode">Barcode</label>
                <div class="col-sm-10">
                    {{ form_widget(form.barCode) }}
                    <a href="{{ path('backend_product_barcode_show', {id: form.vars.value.id}) }}"
                       target="_blank" ><i class="fa fa-barcode"></i> print barcode</a> ||
                    <a href="{{ path('backend_product_barcode_generate', {id: form.vars.value.id}) }}"
                       target="_blank" ><i class="fa fa-bolt"></i> regenerate barcode</a>
                </div>
            </div>

            {{ form_row(form.fullName) }}
            {{ form_row(form.name) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.price) }}
            {{ form_row(form.priceOld) }}
            {{ form_row(form.priceOpt) }}
            {{ form_row(form.priceIn) }}
        </div>
        <div class="col-6">
            {{ form_row(form.status) }}
            {{ form_row(form.isActive) }}
            {{ form_row(form.inAction) }}
            {{ form_row(form.showOnTop) }}
            {{ form_row(form.showOnMarket) }}
            {{ form_row(form.metaDescription) }}
            {{ form_row(form.warranty) }}

            {% if categoryFilters|length %}
                <div class="row">
                    <div class="col-12">
                        <h2>Filter values</h2>
                    </div>
                </div>
                <div class="row">
                    {% for filter in categoryFilters %}
                        <div class="col-3">
                            <b>{{ filter }}</b>
                            <ul class="list-unstyled">
                                {% for filterValue in filter.filterValues %}
                                    <li><input class="filterToggler" type="checkbox"
                                               value="{{ filterValue.id }}"
                                                {{ filterValue.id in productFilters ? 'checked' : '' }}
                                               name="productFilterValues[]"
                                               id="productFilterValues[{{ filterValue.id }}]">
                                        <label for="productFilterValues[{{ filterValue.id }}]">{{ filterValue }}</label></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>

    {{ form_row(form.description) }}

    <div class="form-group row">
        {{ form_label(form.picFile) }}
        <div class="col-sm-10">
            {{ form_widget(form.picFile) }}
            {% if row.pic %}
                <a data-fancybox="gallery" target="_blank" href="{{ asset('uploads/pics/' ~ row.pic) }}"><img
                            src="{{ asset('uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_50') }}" /></a>
            {% endif %}
        </div>
    </div>

    <h4>Gallery</h4>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th>Pic</th>
            <th>Title</th>
            <th>Upload file</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="productGalleryItems" data-prototype="{{ include('admin/product/prototype.html.twig', { 'form': form.images.vars.prototype })|e('html_attr') }}">
        {% for id, image in form.images %}
            <tr class="itemRow" id="productGalleryItem-{{ id }}" rel="{{ id }}">
                <td class="text-center">{% if image.vars.value.picFileName %}
                        <a data-fancybox="gallery" target="_blank"
                           href="{{ asset('uploads/pics/' ~ image.vars.value.picFileName) }}"><img
                                    src="{{ asset('uploads/pics/' ~ image.vars.value.picFileName) | imagine_filter('thumb_square_50') }}" /></a>
                    {% endif %}</td>
                <td>
                    {{ form_errors(image) }}
                    {{ form_widget(image.title) }}
                </td>
                <td>{{ form_widget(image.pic) }}</td>
                <td><button type="button" class="btn btn-danger deleteRow" rel="productGalleryItem-{{ id }}">delete</button>
                    {{ form_rest(image) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot id="tableFooter"></tfoot>
    </table>


    {{ form_rest(form) }}

    <hr />

    <div class="row">
        <div class="col-8">
            <a class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>
            {{ form_end(form) }}
        </div>
        <div class="col-4 text-right">
            {{ form_start(delete_form) }}
            <a id="cloneBtn" class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_clone', { 'id': row.id }) }}">
                <i class="fa fa-copy" aria-hidden="true"></i> Clone</a>
            <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>
            {{ form_end(delete_form) }}
        </div>
    </div>

    <br />
    <br />

    <script>
        function bindClickDeleteBtn() {
            $('.deleteRow').on('click', function () {
                if (confirm('Are you sure?')) {
                    let rel = $(this).attr('rel');
                    console.log(rel);
                    $('#'+rel).slideUp('slow');
                    $('#'+rel).remove();

                    return false;
                }
            });
        }

        $( document ).ready(function() {
            bindClickDeleteBtn();

            $('#cloneBtn').on('click', function () {
                if (!confirm('Are you sure?')) {
                    return false;
                }
            });

            $('#product_slug').on('focus', function () {
                let val = $(this).val();
                let vendor_id = $('#product_vendor').val();
                let product_name = $('#product_name').val();

                if (val !== '-') {
                    return;
                }

                let url = '{{ path('ajax_product_generate_slug') }}';
                let data = {
                    'product_name': product_name,
                    'vendor_id': vendor_id
                };

                console.log(data);

                status_id = $(this).attr('id');
                $.ajax({
                    url: url,
                    data: data,
                    dataType: 'json'
                }).done(function(data) {
                    console.log(data.slug);
                    $('#product_slug').val(data.slug);
                });

            });

            $('.filterToggler').on('click', function() {
                let product_id = {{ row.id }};
                let filter_id = $(this).attr('value');
                let value = $(this).is(':checked') ? 1 : 0;
                let url = '{{ path('ajax_product_filter_value') }}';
                let data = {
                    'product_id': product_id,
                    'filter_id': filter_id,
                    'value': value
                };

                console.log(data);

                status_id = $(this).attr('id');
                $.ajax({
                    url: url,
                    data: data
                }).done(function(html) {
                    console.log(html);
                    // console.log($(status_id);
                    // $('#'+status_id).html(html);
                });
            })

            var $collectionHolder;

            // setup an "add a tag" link
            var $addTagButton = $('<td colspan="2"><button type="button" class="btn btn-sm btn-success addRow add_tag_link"><i class="fa fa-plus"></i> add new row</button></td>');
            var $newLink = $('<tr></tr>').append($addTagButton);

            // Get the ul that holds the collection of tags
            $collectionHolder = $('tbody.productGalleryItems');
            var $collectionFooter = $('tfoot#tableFooter');

            $collectionFooter.append($newLink);

            // alert($collectionHolder.find(':input').length);
            var lastId = parseInt($('.productGalleryItems > tr.itemRow').last().attr('rel')) + 1;
            if (isNaN(lastId)) {
                lastId = 0;
            }
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            // $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $collectionHolder.data('index', lastId);

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLink);
            });

        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            // var $newFormLi = $('<tr></tr>').append(newForm);
            $('.productGalleryItems').append(newForm);

            // $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
