{% extends 'layout_admin.html.twig' %}

{% block title %}
    {{ entity_name }} :: admin
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('backend_dashboard') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> {{ entity_name }}
        </li>
    </ol>
{% endblock %}

{% block body %}

    <h1 class="page-header">{{ entity_name }} list</h1>

    {% include 'admin/flashes.html.twig' %}


    <form action="{{ path('backend_products_update') }}" method="post">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Name</th>
                <th>Bar code</th>
                <th>Pic</th>
                <th>Act</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            {# table body #}
            {% for row in rows %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.category }}
                    </td>
                    <td>
                        {{ row.vendor }} - {{ row.name }}
                        <br />
                        <small>{{ row.slug }}</small>
                    </td>
                    <td>
                        <input class="input-group-sm" size="14" name="product[{{ row.id }}][barCode]" value="{{ row.barCode }}" />
                    </td>


                    <td><a href="javascript:;" class="toggle_field" id="yandex_{{ row.id }}" rel="{{ row.id }}" field="showOnMarket">
                    <span class="badge badge-pill badge-{{ row.showOnMarket ? 'success' : 'danger' }}"><i
                                class="fa fa-{{ row.showOnMarket ? 'check-square' : 'window-close' }}"></i></span></a>
                    </td>

                    <td><a href="javascript:;" class="toggle_field" id="inaction_{{ row.id }}" rel="{{ row.id }}" field="inAction">
                    <span class="badge badge-pill badge-{{ row.inAction ? 'success' : 'danger' }}"><i
                                class="fa fa-{{ row.inAction ? 'check-square' : 'window-close' }}"></i></span></a>
                    </td>

                    <td>
                        <a class="btn btn-sm btn-success" href="{{ path('backend_' ~ model ~ '_edit', { 'id': row.id }) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> edit</a>
                        <a class="btn btn-sm btn-primary" href="{{ path('backend_' ~ model ~ '_clone', { 'id': row.id }) }}">
                            <i class="fa fa-copy" aria-hidden="true"></i> clone</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <p>
            <button type="submit" class="btn btn-primary"><span class="fa fa-save" aria-hidden="true"></span>
                Update prices</button>
            <a class="btn btn-success" href="{{ path('backend_' ~ model ~ '_new') }}">
                <span class="fa fa-plus" aria-hidden="true"></span> Create a new {{ model }}</a>
            {#        <a class="btn btn-danger" href="{{ path('backend_products_slugify') }}">#}
            {#            <span class="fa fa-flash" aria-hidden="true"></span> Slugify products</a>#}
        </p>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function() {

        })
    </script>
{% endblock %}
