{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit wtf :: admin
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block body %}
    <h1> wtf edit</h1>

    {% include 'admin/flashes.html.twig' %}
<form method="post">
    <div class="row">
        <div class="col-6">
            <div class="form-row">
                <input type="text" name="fio" placeholder="fio">
            </div>

            <div class="form-row">
                <input type="text" name="email" placeholder="email">
            </div>
            <input type="submit" class="btn btn-primary" name="go" >

        </div>

    </div>
</form>


    <br />
    <br />
{% endblock %}
