
    <h1>Новый заказ №{{ order.id }}</h1>

    <table cellpadding="4" cellspacing="0" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Pic</th>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
            {% set totalQty = 0 %}
            {% for item in cart %}
                <tr id="cart_row_{{ item.product.id }}">
                    <td>{{ item.product.id }}</td>
                    <td>
                        {% if item.product.pic %}
                            <a target="_blank" href="{{ absolute_url(asset('/uploads/pics/' ~ item.product.pic)) }}"><img
                                src="{{ absolute_url(asset('/uploads/pics/' ~ item.product.pic)) | imagine_filter('thumb_square_50') }}" /></a>
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td><a target="_blank" href="{{ absolute_url(path('product_view', {
                            categorySlug: item.product.category.slug, productSlug: item.product.slug
                        })) }}">{{ item.product.vendor.name }} - {{ item.product.name }}</a></td>
                    <td>{{ item.product.price }}₽</td>
                    <td align="center">{{ item.qty }}</td>
                    {% set totalQty = totalQty + item.qty %}
                    <td align="center">{{ item.amount }}₽</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="4"><b>Итого:</b></th>
                <th>{{ totalQty }}шт</th>
                <th>{{ total }}₽</th>
            </tr>
            {% if (discountAmount) > 0 %}
                <tr bgcolor="#ffc">
                    <th colspan="4"><b>Скидка {{ discountPercent }}%:</b></th>
                    <th><span id="order_total" data-content="{{ discountAmount }}">{{ discountAmount }}</span>₽</th>
                </tr>
                <tr bgcolor="#ffc">
                    <th colspan="4"><b>Итого со скидкой:</b></th>
                    <th><span id="order_total" data-content="{{ total - discountAmount }}">{{ total - discountAmount }}</span>₽</th>
                </tr>
            {% endif %}
            {% if (order.getDeliveryType == 'courier') %}
                <tr bgcolor="#ffc">
                    <th colspan="4"><b>Доставка:</b></th>
                    <th><span id="order_total">300</span>₽</th>
                </tr>
                <tr bgcolor="#ffc">
                    <th colspan="4"><b>Итого с доставкой:</b></th>
                    <th><span id="order_total">{{ total - discountAmount + 300 }}</span>₽</th>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h4>Информация</h4>
    <div>{{ order.id }} {{ order.getDeliveryTypeRus }} {{ order.name }}</div>
    <div>Phone: <a href="tel:{{ order.phone }}">{{ order.phone }}</a></div>
    <div>Email: {{ order.email }}</div>
    <div>Address: {{ order.address }}</div>
    <div>Note: {{ order.note }}</div>
    <div>IP: {{ IP }}</div>
