<a href="#"><i class="lnr lnr-cart"></i>
    <span class="my-cart"><span class="total-pro">{{ cart_total_qty }}</span></span>
</a>
{% if cart_total_qty != 0 %}
<ul class="ht-dropdown cart-box-width">
    <li>
        {% for item in cart %}
        <!-- Cart Box Start -->
        <div class="single-cart-box">
            <div class="cart-img">
                <a href="#"><img alt="" src="{{ asset('/uploads/pics/' ~ item.product.pic) | imagine_filter('thumb_square_50') }}"/></a>
                <span class="pro-quantity">1X</span>
            </div>
            <div class="cart-content">
                <h6><a href="product.html">{{ item.product.name }}</a></h6>
                <span class="cart-price">{{ item.product.price }}</span>
{#                <span>Size: S</span>#}
{#                <span>Color: Yellow</span>#}
            </div>
            <a class="del-icone" href="#"><i class="ion-close"></i></a>
        </div>
        <!-- Cart Box End -->
        {% endfor %}
        <div class="cart-footer">
            <ul class="price-content">
{#                <li>Subtotal <span>$57.95</span></li>#}
{#                <li>Shipping <span>$7.00</span></li>#}
                <li>Товаров: <span>{{ cart_total_qty }}шт</span></li>
                <li>Сумма: <span>{{ cart_total_sum }}₽</span></li>
            </ul>
            <div class="cart-actions text-center">
                <a class="cart-checkout" href="{{ path('checkout') }}">Оформить заказ</a>
            </div>
        </div>
        <!-- Cart Footer Inner End -->
    </li>
</ul>
{% endif %}
