<?xml version="1.0" encoding="UTF-8"?>
<yml_catalog date="{{ today }}">
    <shop>
        <name>Mikotek.Ru</name>
        <company>ООО "МИКОТЕК"</company>
        <url>http://mikotek.ru</url>
        <currencies>
            <currency id="RUR" rate="1"/>
        </currencies>

        <categories>
            {% for id, name in categories %}
            <category id="{{ id }}">{{ name }}</category>
            {%  endfor %}
        </categories>

        <offers>
            {% for id, product in products %}
            <offer>
                <url>{{ product.url }}</url>
                <price>{{ product.price }}</price>
                <currencyId>RUR</currencyId>
                <categoryId>{{ product.category_id }}</categoryId>
                <picture>{{ product.picture }}</picture>
                <store>false</store>
                <pickup>false</pickup>
                <delivery>true</delivery>
                <delivery-options>
                    <option cost="300" days="1" order-before="18"/>
                </delivery-options>

                <vendor>{{ product.vendor }}</vendor>
                <name>{{ product.name }}</name>

                <description>
                    <![CDATA[
                    {{ product.announce | nl2br | raw }}
                    ]]>
                </description>
                <sales_notes>гарантия: {{ product.warranty }}</sales_notes>
            </offer>
            {% endfor %}
        </offers>
    </shop>
</yml_catalog>