<?xml version="1.0" encoding="UTF-8"?>
<yml_catalog date="{{ today }}">
    <shop>
        <name>na-forel.ru</name>
        <company>na-forel.ru</company>
        <url>http://na-forel.ru</url>
        <delivery>true</delivery>

        <currencies>
            <currency id="RUR" rate="1"/>
        </currencies>

        <categories>
            {% for id, name in categories %}
                <category id="{{ id }}">{{ name }}</category>
            {%  endfor %}
        </categories>

        <offers>
            <offers>
                {% for id, product in products %}
                    <offer id="{{ id }}" available="true">
                        <name>{{ product.full_name }}</name>
                        <vendor>{{ product.vendor }}</vendor>
                        {#                        <typePrefix>{{ product.categorySingularName }}</typePrefix>#}
                        <vendorCode>{{ product.vendor_code }}</vendorCode>
                        <barcode>{{ product.bar_code }}</barcode>
                        <url>{{ product.url }}</url>
                        <price>{{ product.price }}</price>
                        <currencyId>RUR</currencyId>
                        <categoryId>{{ product.category_id }}</categoryId>
                        <picture>{{ product.picture }}</picture>
                        {#                        <store>false</store>#}
                        {#                        <pickup>true</pickup>#}
                        <description>
                            <![CDATA[
                            {{ product.description | nl2br | raw }}
                            ]]>
                        </description>
                        <sales_notes></sales_notes>
                    </offer>
                {% endfor %}
            </offers>
        </offers>
    </shop>
</yml_catalog>