{% extends 'layout_admin.html.twig' %}

{% block title %}
    Pages :: admin
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fa fa-dashboard"></i> <a href="{{ path('backend_dashboard') }}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        <i class="fa fa-table"></i> Pages
    </li>
</ol>
{% endblock %}

{% block body %}

    <h1 class="page-header">Pages list</h1>

    {% include 'admin/flashes.html.twig' %}

    {% if current_filters|length %}
        <div class="alert alert-secondary" role="alert">
            <i class="fa fa-filter"></i> Filters:
            {% for field, filter in current_filters %}
                <span class="badge badge-secondary">{{ field }}: {{ filter }}</span>
            {% endfor %}
            |
            <a href="{{ path('backend_reset_filter', {'model': 'page'}) }}"><i class="fa fa-times"></i> reset all</a>
        </div>
    {% endif %}

    <table class="table table-striped">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'page.id') }}</th>
            <th{% if pagination.isSorted('a.Name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name', 'page.name') }}
            </th>
            <th>{{ knp_pagination_sortable(pagination, 'Slug', 'page.slug') }}</th>
            <th>Actions</th>
        </tr>

        {# table body #}
        {% for row in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ row.id }}</td>
                <td> <a href="{{ path('backend_page_edit', { 'id': row.id }) }}">{{ row.name }}</a></td>
                <td>{{ row.slug }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('backend_page_edit', { 'id': row.id }) }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i> edit</a>
                    <a class="btn btn-sm btn-info" href="{{ path('backend_page_show', { 'id': row.id }) }}">
                        <i class="fa fa-search" aria-hidden="true"></i> show</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
        <div class="count">
            Total rows: {{ pagination.getTotalItemCount }}
        </div>
    </div>

    <p>
        <a class="btn btn-success" href="{{ path('backend_page_new') }}">
            <span class="fa fa-plus" aria-hidden="true"></span> Create a new page</a>
    </p>
{% endblock %}

{% form_theme filter_form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block filter_form %}
    {% include 'admin/common/filter_form.html.twig' with {'filter_form': filter_form} %}
{% endblock %}
